.signup_page {
  /* background-color: #4e4e50; */
  width: 30%;
  margin: auto;
  padding: 30px 15px;
  border-radius: 10px;
  border: 2px solid #c3073f;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.signup_page input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #4E4E50;
    color: white;
}
.signup_page input::placeholder{
    color: white;
}
